/* Fonts */

h1 {
    font: bold 20px/150% 'PT Sans', Helvetica, sans-serif;
    color: black;
}

.pledge-text {
    color: #FF6600;
}

/* Elements */

.overlay {
    color: black;
    z-index: 12;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#image-slide {
    margin-bottom: 20px;
    height: 500px;
    overflow: hidden;
}

#image-slide img {
    width: 100%;
}

.panel-title {
    text-align: center;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #EEEEEE;;
}

.table {
    margin-bottom: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default:focus {
    background: #FF6600;
    color: white;
}

.btn {
    text-shadow: none;
    border: 0 none;
    font: bold 16px/150% 'PT Sans', Helvetica, sans-serif;
}

.btn-default {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    color: white;
    background: #FF6600;
}

.btn-default:visited {
    color: white;
    background: #FF6600;
}

.btn-default:hover {
    background: white !important;
    color: #FF6600;
}

.btn-default:active {
    background: #FF6600 !important;
    color: white !important;
}
