.overlay {
  color: black;
  z-index:12;
  top:80%;
  left:0;
  width:100%;
  text-align:center;
}

#image-slide {
    margin-bottom: 20px;
}

.panel {
    border-style: 1px solid;

}

.panel-title {
    text-align: center;
    color: white;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #FF6600;
}
